<head>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<h1>Manage Portal : Approve || Deny Requests</h1>


<table id="table" >  
    <thead>  
        <tr>
            <th>Request ID</th>    
            <th>Book ID</th> 
            <th>Book Name</th> 
            <th>Book Count</th> 
            <th>User_Email</th>  
            <th>Status</th>  
            <th>-</th>
        </tr>  
    </thead>  

     <tbody>  
     <% print.forEach(function (book) { %>
        <tr>
            <td><%=book.Request_ID %></td>   
            <td><%=book.Book_ID %></td>  
            <td><%=book.book_name %></td>  
            <td><%=book.book_count   %></td>  
            <td><%=book.User_Email %></td>  
            <!-- <td type = "text" id = "<%=book.Book_ID %>"><%=book.book_name %></td> -->
            <td><%=book.Status %></td>
            <td><input type="checkbox" id="<%=book.Request_ID%>" name="tickOrNot"></td>
            
            
        </tr>                       
     <% }) %>
     </tbody>
     
</table>   



<br>
<button onclick="Approve()">Approve</button>
<button onclick="Deny()">Deny</button>
<button onclick="returnback()">Back</button>
  


<script>

    function returnback(){

        window.location = "/admin"
    }

    function Approve(){
        console.log("Manage data of BOOKS SENT");
        var request_id_checked = [];
        var checkbox = document.querySelectorAll('input[type=checkbox]:checked');
        
        //console.log(checkbox.length+"--------------");
        for (var i = 0; i < checkbox.length; i++) {

            request_id_checked.push(checkbox[i].id);
        }

        console.log(request_id_checked);
        
        $.ajax({
            type: "POST",
            url: "/managedata",
            data : {request : JSON.stringify(request_id_checked)},
            success: function(msg){
            
        }
    }); 

    
    window.location = "/managebooks";
    location.reload();
    

    }



    function Deny(){
        console.log("Manage data of BOOKS SENT");
        var request_id_checked = [];

        var checkbox = document.querySelectorAll('input[type=checkbox]:checked');

        //console.log(checkbox.length+"--------------");
        for (var i = 0; i < checkbox.length; i++) {

        request_id_checked.push(checkbox[i].id);
    }

        console.log(request_id_checked);

        $.ajax({
            type: "POST",
            url: "/managedata0",
            data : {request : JSON.stringify(request_id_checked)},
            success: function(msg){
            
        }
        }); 


        window.location = "/managebooks";
        location.reload();



        }

</script>
